<nav> 
    <div class="nav-wrapper deep-purple darken-3">
        <a href="/" class="brand-logo">
            <div style="height: 5px;"></div>
            <img src='<%=logo;%>' width="50" height="50">
        </a>
        <a href="#" data-target="menu-side" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/other">Other</a></li> 
        </ul>
    </div>
</nav>

<ul class="sidenav deep-purple lighten-4" id="menu-side">
    <li>
        <div class="user-view"></div>
        <li><a href="/">Home</a></li>
        <li><a href="/other">Other</a>
    </li> 
</ul>