<!DOCTYPE html>
<html lang="en">
  <%- include('./constants/header') %> 

  <body class="deep-purple lighten-4">
    <%- include('./constants/navigation') %> 


    <div class="row"> 
        <div class="col s12 center">    
          <div class="divider"></div>
          <div class="section">
            <i class="material-icons large">sentiment_very_dissatisfied</i>
            <h2><%=heading %></h2>
          </div>
        </div>
    </div>


    <%- include('./constants/footer') %> 
  </body>
</html>